header {
    background: #fff;

    .header-container {
        height: 5.0625em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25em 1.1875em 1.1875em 1.125em;
    }
}