@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "./header";
@import "./main";
@import "./utility";
@import "./mediaQueries";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #ffb5fd 1000%);

}